<launch>

    <!-- VINS config -->
    <param name="vins_config_file" type="string" value="$(find isaac_vins)/config/isaac_jetbot/vins_fusion_isaac_jetbot.yaml" />
    
    <node name="vinsfusion" pkg="vins" type="vins_node"
            args="$(find isaac_vins)/config/isaac_jetbot/vins_fusion_isaac_jetbot.yaml" output="screen"/>

    <!-- new config when the robot chassis is on the ground, imu is 20 mm above the ground, publish a fix transformation -->
    
    
    <!-- VINS assume world frame = imu, imu is not on the ground, so need to add transformation
    a1_world relative to world, where ground is with respect to the imu -->
    
    <node pkg="tf" type="static_transform_publisher" name="ground_to_world"
          args="0.0 0.0 -0.02 0.0 0.0 0.0 /world /a1_world 1000" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_a1_body"
          args="0 0 0 0 0 0 /body /a1_body 1000" />

    <!-- RVIZ config -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find isaac_vins)/rviz/isaac_vins_rviz_config.rviz" />
</launch>

