<launch>

    <!-- VINS config -->
    <param name="vins_config_file" type="string" value="$(find isaac_quadruped_vio)/config/isaac_jetbot/vins_fusion_isaac_jetbot.yaml" />
    
    <node name="vinsfusion" pkg="vins" type="vins_node"
            args="$(find isaac_quadruped_vio)/config/isaac_jetbot/vins_fusion_isaac_jetbot.yaml" output="screen"/>
    <!-- <node name="vinsloopfusion" pkg="loop_fusion" type="loop_fusion_node"
            args="$(find isaac_quadruped_vio)/config/hardware_a1_vins_config.yaml" /> -->

    <!-- new config when the robot chassis is on the ground, imu is 142mm above the ground, publish a fix transformation -->
    
    
    <!-- VINS assume world frame = imu, imu is not on the ground, so need to add transformation
    a1_world relative to world, where ground is with respect to the imu -->
    
    <node pkg="tf" type="static_transform_publisher" name="ground_to_world"
          args="0.0 0.0 -0.02 0.0 0.0 0.0 /world /a1_world 1000" />

    <!-- create name for a1_body, unimportant -->
    <node pkg="tf" type="static_transform_publisher" name="body_to_a1_body"
          args="0 0 0 0 0 0 /body /a1_body 1000" />


    <!-- RVIZ config -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find isaac_quadruped_vio)/config/a1_vins_rviz_config.rviz" />
</launch>

